.admin-page {
    height: 100vh;
    background-image: url("/assets/images/construction-warning.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    color: white;
}